#testimonials-carousel
{
    padding : 7% 15%;
}

#testimonials
{
  background-color: #ff5864;

  text-align: center;

}

.testimonial-h2
{
  font-family: 'Montserrat', sans-serif;
  color : #fff;
  line-height: 1.5;
  font-weight: bold;
  font-size: 45px;
}

.testimonial-dogs
{
  width : 10%;
  border-radius: 100%;
  margin: 30px;
}

.testimonial-dog-name
{
  color: #fff;
  font-size: 20px;
}
